[2016-12-21 11:16] TiagoCardoso1983 opened #2 "JRuby Support"
Currently there are some issues with [jruby's openssl](https://github.com/jruby/jruby-openssl/issues/119):

* ASN1 modules are broken

testing on the digest and cipher modules are (for now) depending on asn1 modules to be fixed.

[2017-12-14 16:00] yevgeniypopov opened #5 "TSM Support"
Hi, is there any plans to support Transport Security Model?
http://net-snmp.sourceforge.net/wiki/index.php/TSM

[2017-12-14 18:17] HoneyryderChuck commented on #5
Thank you for the message.

It's the first I hear about TSM. I will have a look at the RFC, but this should be possible already by using the :proxy argument (where you pass your SSH or TLS IO object), provided there is no handshake.

Do you have any available script to test this?

[2017-12-14 21:55] yevgeniypopov commented on #5
I will try it, thanks

not yet, but I will try to come up with something.

[2017-12-15 08:48] HoneyryderChuck commented on #5
Let me know how your experiments went, the idea of the :proxy argument was to support such cases, but it might be insufficient for some (and is definitely untested for non-udp proxies).

In the case that you might consider a PR, let me know. The testing environment is as of yet dependent on docker, but I'm working on lowering the barrier of entry, if this is in an impediment for you, I might prior

[2018-01-29 06:07] stakach commented on #5
I've used the proxy to support evented IO in https://github.com/cotag/libuv
With this code: https://github.com/acaprojects/ruby-engine/blob/master/lib/protocols/snmp.rb
Specifically for use in: https://developer.acaprojects.com/#/driver-development/utilities-and-helpers?id=snmp

Works well!

[2018-01-29 10:48] HoneyryderChuck commented on #5
@stakach great to hear! I actually designed that API to work well with Celluloid::IO, cool that it works with other evented engines. Are you also using any secure transport?

[2018-01-29 12:30] stakach commented on #5
I'm not using netSNMP with a secure transport however it would be trivial with Libuv or Eventmachine using https://github.com/igrigorik/em-synchrony

I haven't cracked DTLS support in libuv yet

[2018-02-02 18:30] NetForces opened #8 "walk method does not work"
Trying to get the list of SSIDs on a Ruckus ZoneDirector. Using shell snmpwalk commands works as expected:

[code]

Trying the following code returns nothing:

[code]

Using a more "manual" method to get the data works:

[code]

Running ruby v2.3.1p112 with the netsnmp gem v0.1.3

[2018-02-02 18:59] HoneyryderChuck commented on #8
I had a debug mode planned exactly to debug such cases...

Do you know your way around ruby well? I'd suggest to use a debugger like `byebug` to inspect the PDUs sent. The relevant code for `#walk` is [here](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/client.rb#L77-L100), and you can see what it does. In fact, walk feature is not part of the spec, it's just (loosely) based on

[2018-02-02 19:00] HoneyryderChuck commented on #5
@yevgeniypopov will close the ticket, as I assume that this should not be an issue using the `:proxy` option. Feel free to reopen or open a new one whenever you get to try it.

[2018-02-02 19:02] HoneyryderChuck commented on #8
After another look... can you try replace this line?

[code]

If this works for you, please remind me to update the README (I guess you copy pasted it from there).

[2018-02-02 19:20] NetForces commented on #8
Nope same thing with:

[code]

No output.

If I do:

[code]

I get:

[code]

I'll check with `byebug` later on today.

[2018-02-02 21:35] NetForces opened #9 "Reading Gauge32 type OID returns nil"
Trying to read a Gauge32 type of OID:

[code]

When using the following code:

[code]

I get:

[code]

[2018-02-02 22:04] HoneyryderChuck commented on #9
https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/varbind.rb#L104

Long story short, this lib didn't ship with support for all aplication types, and those will return nil. Can you add a PR for gauge support?

[2018-02-02 22:11] NetForces commented on #9
@HoneyryderChuck Thanks for the feedback I'll look at that over the ween-end.

[2018-02-02 22:27] HoneyryderChuck commented on #9
No worries. For the record, I didn't interact with all kinds of application values, and I left them empty so people could contribute with their findings. You just have to figure out how to unpack it.

[2018-02-05 02:56] NetForces commented on #9
To what I can see in the net-snmp2 library the Gauge32 data type is the same as a TimerTick:

https://github.com/jbreeden/net-snmp2/blob/2867d4ff5f04e2dcd08e791ac2f45d3b9ce83659/lib/net/snmp/varbind.rb#L33

So I'll give that a try.

[2018-02-05 03:16] NetForces commented on #9
@HoneyryderChuck All yours.

[2018-02-05 03:17] NetForces commented on #9
cc @mdeloupy

[2018-02-05 04:10] NetForces commented on #8
@HoneyryderChuck all yours. Just documentation change. Also needed to provide the OID without the leading `.`. `snmpwalk` accepts it with it, but that's ok for me as is.

cc @mdeloupy

[2018-02-05 16:15] #8 closed

[2018-02-10 11:10] #9 closed

[2018-02-10 11:53] #5 closed

[2018-02-12 17:50] NetForces opened #12 "Setting Gauge32 type OID fails"
Sample code:

[code]

Result:

[code]

Trying via the CLI `snmpset` works:

[code]

cc @mdeloupy

[2018-02-12 18:54] HoneyryderChuck commented on #12
For non-conventional types you must pass the :type parameter, in your case with :gauge, if I recall correctly

[2018-02-12 19:02] NetForces commented on #12
Yup that worked but it got an error about this nor existing:

https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/client.rb#L143

Made the following change and worked:

[code]

I'll close this ticket and re-open a new one about the Timeout error as it's outside the scope of this ticket.

[2018-02-12 19:02] #12 closed

[2018-02-12 19:02] NetForces opened #13 "`Timeout::Error` does not exists"

[2018-02-12 19:03] NetForces commented on #13
[code]

[2018-02-15 16:50] #13 closed

[2018-02-26 19:40] NetForces opened #15 "Errors in 0.1.4"
Trying to use 0.1.4:

[code]

and

[code]

[2018-02-26 19:43] NetForces commented on #15
Hold on. may be an issue on my side.

[2018-02-26 20:28] NetForces commented on #15
All good. Was a bad rbenv config

[2018-02-26 20:28] #15 closed

[2018-03-21 17:39] lebogan opened #16 "Crystal language port"
Would you ever consider porting this gem to Crystal as a shard? Is this even possible?
Thanks for this excellent gem.

[2018-03-21 18:52] HoneyryderChuck commented on #16
Thank you. I don't know what's a shard, nor have I worked with crystal. However, nothing in the license blocks you from taking a stab at it.

Will close the ticket.

[2018-03-21 18:52] #16 closed

[2018-04-02 03:55] stideswell opened #20 "Failure in aes.rb on Ubuntu 16/18 when using auth_proto=SHA and priv_proto=AES"
Forgive me as I am a total Ruby newbie!

Using code like the following ...
_snmp = NETSNMP::Client.new(host: '127.0.0.1', port: 161, version: 3,
                           username: user, auth_protocol: auth_proto, auth_password: auth_pass,
                           priv_protocol: priv_proto, priv_password: priv_pass)_

I get the following error ...
Traceback (most recent call last):
	9: from ./t

[2018-04-02 11:42] HoneyryderChuck commented on #20
@stideswell can you run your example against the master branch? I guess this has been solved [here](https://github.com/swisscom/ruby-netsnmp/pull/17).

[2018-04-02 20:25] stideswell commented on #20
Thanks Tiago

Yes that would definitely work as it's the same fix (remarking out the modulo 8 check line) as I found to work for me. I realise that this project has now forked to net-snmp2 (https://github.com/jbreeden/net-snmp2), but will try another question on this project in a moment as I'm struggling to get net-snmp2 to work at all well.

[2018-04-02 20:58] stideswell opened #21 "Counter32 values are way off"
Hello

ruby -v
ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-linux-gnu]

gem list | grep netsnmp
netsnmp (0.1.4)

This is on Ubuntu 16 and 18.

If I walk the following OID, 1.3.6.1.4.1.2021.11, using snmpwalk ...
_iso.3.6.1.4.1.2021.11.1.0 = INTEGER: 1
iso.3.6.1.4.1.2021.11.2.0 = STRING: "systemStats"
--snip--
iso.3.6.1.4.1.2021.11.11.0 = INTEGER: 99
iso.3.6.1.4.1.2021.11.50.0 = Counter32: 3897

[2018-04-02 21:58] HoneyryderChuck commented on #20
This is not the same project as net-snmp2. But I'm glad it worked for you. Will make a release soon.

[2018-04-02 21:58] #20 closed

[2018-04-02 22:01] HoneyryderChuck commented on #21
Go Simon, Thx for the report. It is indeed a bug. Counter32 is a badly supported application type. Will see about implementing a fix based on your example.

[2018-04-03 17:16] HoneyryderChuck commented on #21
@stideswell  could you retry your example with the master branch?

[2018-04-06 23:39] stideswell commented on #21
Thanks Tiago, that worked. Simon

On Wed, Apr 4, 2018 at 3:16 AM, Tiago <notifications@github.com> wrote:

[2018-04-07 06:34] HoneyryderChuck commented on #21
Great! Will close this and hack a release soon.

[2018-04-07 06:34] #21 closed

[2018-07-03 19:17] ichekaldin opened #23 "Counter32 and Counter64 Values Issue"
Here is my setup.

Ruby:
[code]

Ubuntu:
[code]

ruby-netsnmp Gem:
[code]

From what I can tell, the values of Counter32 OIDs are reported incorrectly. Compare the following.

Here is an example of `ifInOctets` table returned by snmpwalk:
[code]

And here is the same table values returned by Sensu plugin using ruby-netsnmp gem:
[code]

I believe the simple fix is to change line 106 in lib/netsnmp/

[2018-07-03 19:18] ichekaldin commented on #23
FWIW, I think this is related to #21

[2018-07-03 21:55] HoneyryderChuck commented on #23
Thx for the report. Ugh, the counters... I assume you tried the master branch already.

[2018-07-04 10:12] HoneyryderChuck commented on #23
ouch, guilty. I might have forgotten to issue a release. Will do ti the end of the day. sorry about that.

[2018-07-04 16:41] HoneyryderChuck commented on #23
just released 0.1.5 . Thx for the nudge again!

[2018-07-04 16:41] #23 closed

[2018-07-05 15:04] ichekaldin opened #24 "Counter64 OID Values Are Returned as nil"
This is a follow up to #23. Apologies for not being clear previously.

For reference, here is my setup.

Ruby:
[code]

Ubuntu:
[code]

ruby-netsnmp Gem:
[code]

The values of Counter64 OIDs are reported as nil. Compare the following.

Here is an example of `ifHCInOctets` table returned by snmpwalk:
[code]

And here is the same table values returned by Sensu plugin using ruby-netsnmp gem:
[code]

I

[2018-07-05 15:18] HoneyryderChuck commented on #24
Nice, so we have a fix! Can I ask you to provide a test and (maybe) add some test for the Counter32 and Counter64 case?

[2018-07-05 15:40] ichekaldin commented on #24
You may need to help me with the syntax as this is a bit beyond my Ruby skills.

I think the test could look something like this:

[code]

In other words: value of `"\x00\xC4\x1Eg"` should be converted to `12852839` for both Counter32 and Counter64.

[2018-07-05 17:32] HoneyryderChuck commented on #24
sure, you can count on my help!

You can add conversion specs in [varbind_spec.rb](https://github.com/swisscom/ruby-netsnmp/blob/master/spec/varbind_spec.rb#L19-L28), make also sure that conversions correctly encode.

[2018-07-06 17:31] ichekaldin commented on #24
Just submitted #25. I believe that does the trick.

[2019-04-03 09:04] #24 closed

[2019-04-03 09:11] HoneyryderChuck commented on #24
Just released `0.1.6`.

[2019-04-03 14:36] ichekaldin commented on #24
Great, thank you!

[2019-05-20 11:04] jrgns opened #27 "Certain gauge / counter32 values are being encoded incorrectly"
We ran across this when we needed to set a gauge type. Some values would work (0 to 127, and 256 and up), but some values won't work (128 to 255).

The command we used was (excute the obviously bogus OID)

[code]

Bitwise, the difference between the values are

* 0 to 127 got padded to a byte, which always started with a zero (0000 0000 to 0111 1111)
* 128 to 255 were also a byte, but doesn't star

[2019-05-20 14:35] HoneyryderChuck commented on #27
Thx for the report!

First, which version are you on? Because line 81 is [this line](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/varbind.rb#L81), so I'm not sure whether that has to do with the gauge.

Do you have some documentation on how to act upon gauge numbers? I'm handling them exactly like counter32 numbers, as all info I found led me to believe they are handled the sam

[2019-05-23 11:09] jrgns commented on #27
@HoneyryderChuck Sorry, it's [line 88](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/varbind.rb#L88). You'll see it's the same for gauge and counter.

Unfortunately I don't have documentation. From what I've read, though, gauges and counters are just integers with specific ranges.So even through you're handling the gauges and counters the same, you're not handling it the same wa

[2019-05-23 11:10] jrgns commented on #27
@HoneyryderChuck I forgot to mention, we tested this using standard snmp tools, too, so it's definitely the ruby snmp library and not the device we're testing against.

[2019-05-23 13:46] HoneyryderChuck commented on #27
So, if I understand correctly, both gauges and counter32 handling are incorrect?

Thx, will be looking forward to see them. There was no particular reasoning beyond making it work for my use case, but maybe I should have tested them further. Again, thx for the report!

[2019-05-24 09:22] jrgns commented on #27
@HoneyryderChuck I haven't confirmed it, but if SNMP is consistent (!) that might be the case.

[2019-07-16 08:15] jrgns commented on #27
@HoneyryderChuck I'll be creating the specs for this soon.

The issue boils down to the fact that a [gauge is unsigned, and a counter is signed](http://cuddletech.com/articles/snmp/node9.html). So for the gauge the first bit specifies if it's positive (bit0 = 0) or negative (bit0 = 1). So handling a gauge and a counter in the same way won't work.

[2019-07-16 08:31] jrgns commented on #27
@HoneyryderChuck FYI, still a WIP, but this is the direction I'm going in: https://github.com/automation-exchange/ruby-netsnmp/commit/cf2c4d56cbca127e6a127bd267843585c223d856

[2019-07-16 09:38] HoneyryderChuck commented on #27
LGTM 👍  looking forward to the PR :)

[2019-07-16 11:05] jrgns commented on #27
@HoneyryderChuck I've added the failing specs. Please check if you agree with the checks. The first one fails outright in that -1 isn't returned as -1, the second one fails on the bit check.

If you're happy with the specs, I'll start looking at the fix.

[2019-08-03 00:23] HoneyryderChuck commented on #27
0.1.7 published! Thx for your work, and again sorry for the delay.

[2019-08-03 00:23] #27 closed

[2019-08-05 08:16] jrgns commented on #27
@HoneyryderChuck Woot woot! No worries, thanx :)

[2019-10-11 15:24] fwininger opened #29 "HMAC-SHA-2 Authentication Protocols in the User-based Security Model (USM) for SNMPv3"
How you plan the support of SHA-2 for SNMPv3 ?

https://tools.ietf.org/html/rfc7630

[2019-10-11 15:34] HoneyryderChuck commented on #29
I actually had never heard about the rfc. I'm open to contributions for extending the authentication functionality, definitely.

[2020-03-02 19:23] stuarthannig opened #34 "SNMPSet two different OIDs in one request command?"
Forgive my ignorance with SNMPv3, is this gem able to use SNMP Set with two OIDs in a command?

Use case, I am trying to save the config file on a network switch device `snAgWriteNVRAM 1.3.6.1.4.1.1991.1.1.2.1.3.0` after enabling/disabling an interface port. The OID to save the config file requires an additional OID for  `snAgGblPassword 1.3.6.1.4.1.1991.1.1.2.1.15.0` (System Security Access Passw

[2020-03-02 20:12] HoneyryderChuck commented on #34
Hi, are you sure that's not syntactic sugar for 2 set commands? Maybe if you run that command in verbose mode you can confirm.

[2020-03-02 20:46] stuarthannig commented on #34
That's what I was hoping, but I do not believe so. See below.

[code]

[2020-03-02 21:04] stuarthannig commented on #34
Just to verify, what I think I am looking to do is:

[code]

But that is unsupported at the moment?

[2020-03-02 21:11] stuarthannig commented on #34
Actually, I got it working. Not sure where I was missing up before when I last triedand was failing. But this is supported. Thank you for your patience.

[code]

[2020-03-02 21:13] #34 closed

[2020-03-02 22:44] stuarthannig commented on #34
Ok, I think I know where I messed up. I was initially passing the multiple OIDs as an array `.set [{oid: ...}, {oid: ...}]` instead of sending as a splat `.set {oid: ...}, {oid: ...}`. The latter works.

[2020-03-02 22:59] HoneyryderChuck commented on #34
It's actually the first time someone uses it that ay, glad it was already working.

[2020-12-16 22:33] HoneyryderChuck opened #37 "MIB parser"
It's time to add support for MIB  (both SMIv1 and SMIv2)

[2020-12-17 00:03] #37 closed

[2021-02-04 18:42] tamiradari opened #40 "SNMPv3 with DES and MD5 fails: invalid message authentication salt"
These parameters are used:
client = NETSNMP::Client.new({host: 'a.b.c.d', port: 161, version: '3', username: 'user', security_level: 3, auth_protocol: 'md5', auth_password: 'Password1', priv_protocol: 'des', priv_password: 'Password1'})
client.get(oid: "1.3.6.1.2.1.1.5.0")

Error: invalid message authentication salt

Testing in Windows and Ubuntu.
The same parameters were validated and work on Ubu

[2021-02-04 18:58] HoneyryderChuck commented on #40
Hi @tamiradari , thank you for the report.

Could you fill me in on the following:

* which version of `ruby-netsnmp` are you on?
* which version of `ruby` are you on?
* Could you paste the full error backtrace?
* Do you feel confortable forking/pulling from this repository and running your script locally with patches suggested by me, as we follow up?

[2021-02-04 19:07] tamiradari commented on #40
Hi Tiago,

Please find the details:

  *   which version of ruby-netsnmp are you on?
     *   Latest
  *   which version of ruby are you on?
     *   ruby 2.6.5p114 (2019-10-01 revision 67812) [x86_64-darwin18]
  *   Could you paste the full error backtrace?
     *   Added to the end
  *   Do you feel confortable forking/pulling from this repository and running your script locally with patches sug

[2021-02-04 20:37] HoneyryderChuck commented on #40
My first suspicion is that [cleaning the auth bytes](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/message.rb#L29) isn't being done as it's supposed to, for some reason. I'd breakpoint around this code, as there seems to be something fishier around the verification of the response bytestream and the auth param. The procedure followed here is [described in this section nof the RF

[2021-02-05 13:59] tamiradari commented on #40
Hi Tiago,

I am not familiar with the RFC details.

I compared the first packet send from the gem and another tool that works for me.
There is similarity but seems like extra data of 12 x ‘00’ got in the middle.
Hope this can give you a way to deeper understanding.

netsnmp gem:
30 4e 02 01  03 30 11 02  04 46 ff de  dd 02 03 00
ff e3 04 01  04 02 01 03  04 20 30 1e  04 00 02 01
00 02 01 00  04 04

[2021-02-05 17:24] HoneyryderChuck commented on #40
The first packet is the probe, and that doesn't seem to be the issue AFAICT, i.e. the problem is when receiving its response and verifying the signature. [This is where the exchange happens](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/v3_session.rb#L65).

If you set up a breakpoint [here](https://github.com/swisscom/ruby-netsnmp/blob/9d47f0b7220898ba3bc7054d854a459296ade22a/li

[2021-02-08 19:46] stuarthannig opened #41 "Different encoding of results"
Using `gem 'netsnmp', '~> 0.3.0'`

Is this an issue with `xor`? I installed `xorcist`, but same results.

This is the request/results from the `snmpwalk` command on CLI:
[code]

This is the results from this gem, converted to hash from the Enumarato (for readability):
[code]

The first and last values are `<Encoding:US-ASCII>`, but the second value is `<Encoding:UTF-8>`. Is it possible to force th

[2021-02-08 22:48] HoneyryderChuck commented on #41
Hi @stuarthannig thank you for the report.

I think it might have smth to do with this: https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/varbind.rb#L51

My question here would be, how could you distinguish between the string and hex string, if not using this admittedly naive approach?

I'd suggest you set a breakpoint here and check what causes the middle value to be convertible, a

[2021-02-12 01:17] HoneyryderChuck commented on #41
https://stackoverflow.com/questions/35439244/how-to-convert-the-hex-value-that-i-receive-from-snmp for reference.

The netsnmp cli tool uses MIB information about the OID to know how to parse it.

Given that now there's a MIB parser, one could take advantage of this.

[2021-02-16 13:39] jinxka opened #42 "Bug AES decrypt when salt is empty"
Hello,

I had a case when one of my device returned an empty salt (""), and I got the error 'iv must be 16 bytes'

After investigating, I found that we verify if the salt is '% 8' but not if it's present.

*(''.length % 8).zero?* is true, it should not.

https://github.com/swisscom/ruby-netsnmp/blob/9d47f0b7220898ba3bc7054d854a459296ade22a/lib/netsnmp/encryption/aes.rb#L31

[2021-02-16 20:34] HoneyryderChuck commented on #42
Hi @jinxka , thank you for the report!

I've opened an MR with a fix, could you see if that fixes the issue?

[2021-02-17 13:55] jinxka commented on #40
Hello,

I have the same kind of issue with my Cisco ASA and Cisco NX-OS using snmp v3. They are working fine with snmpwalk and snmpget but not with the gem.

netsnmp gem:
306f 0201 0330 1102 044c bff6 8202 0300
ffe3 0401 0002 0103 0425 3023 040b 8000
0009 030c 6d15 d7e4 0002 0100 0201 0004
0a63 7962 6572 7761 7463 6804 0004 0030
3004 0b80 0000 0903 0c6d 15d7 e400 0400
a81f 0204 189b d51a 0201 0002

[2021-02-17 14:29] HoneyryderChuck commented on #40
Hi @jinxka ,

Thank you for the investigation. If the issue is the probe PDU, let's try finding out whats going on here.

First, are you having the same issue using the des/md5 combo?

Now, let's dissect this:

* `306f` : that's the sequence ASN header
* `0201`: thats the [message version](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/message.rb#L69)
*  `0330 .. (19 octets) .. 0

[2021-02-17 14:30] HoneyryderChuck commented on #40
If my comments don't help you troubleshoot it, we can go that route, if that's ok from a security perspective. I'd need the full `snmpget` cli line you'd use to get the correct answer, though.

[2021-02-17 16:56] jinxka commented on #40
I tried with MD5/DES but it's not working (NETSNMP::Error (invalid encrypted PDU received)).

Here is the full debug of the working snmpget with SHA/AES:

[code]

To test the gem, I put byebug at:

https://github.com/swisscom/ruby-netsnmp/blob/9d47f0b7220898ba3bc7054d854a459296ade22a/lib/netsnmp/message.rb#L79

and

https://github.com/swisscom/ruby-netsnmp/blob/9d47f0b7220898ba3bc7054d854a459296ad

[2021-02-17 17:13] HoneyryderChuck commented on #40
Perfect, thank you for the dumps. Will see if I can do some "replay" there in the next week or so.

[2021-02-20 19:08] HoneyryderChuck commented on #40
@jinxka I've just pushed some debug log improvements into the `issue-40` branch. Would you mind running your example again using it, with the env var `NETSNMP_DEBUG=2`, and paste me the dumps?

[2021-02-21 02:23] #42 closed

[2021-02-22 08:31] jinxka commented on #40
Hello,

Sorry for the late answer, here is the the dumps using branch 'issue-40' with NETSNMP_DEBUG=2

[code]

[2021-02-22 10:09] HoneyryderChuck commented on #40
@jinxka can you try again. sorry, there was a bug in the log layer...

[2021-02-22 10:23] jinxka commented on #40
@HoneyryderChuck

[code]

Can we use your email address to send you the info so you can connect to one of our cisco device?

[2021-02-22 11:03] HoneyryderChuck commented on #40
I've fixed this one. But it's alright, you can send (do send me the ruby script ready to execute, plz).

[2021-02-22 12:37] jinxka commented on #40
[code]

[2021-02-22 14:26] HoneyryderChuck commented on #40
thx for the output @jinxka . I'll try to work with it, and if I can't, I'll welcome that email with access to the node.

[2021-02-22 17:16] HoneyryderChuck commented on #40
@jinxka I found the issue!

If you look at the "received message" section you pasted, you'll notice that the response PDU is already there, which shouldn't happen if the packet were encrypted.

Analysing the v3 message content further, you'll see that the 3rd field of the header, which accounts for message flags, comes with "0401", and the least significant byte accounts for security level, which

[2021-02-23 12:25] HoneyryderChuck commented on #40
@jinxka @tamiradari can you test against this branch? Still have some CI issues to fix, but it should be good fo you to give it a try.

[2021-02-23 14:20] tamiradari commented on #40
We have some issues in the lab, so I don’t have access to this router.
I will test it when it will be solved.

Thanks,
   Tamir.

[2021-02-23 14:55] jinxka commented on #40
@HoneyryderChuck , I tried with your new changes and got this:

[code]

We have some trouble to open the access on our cisco, but it will work eventually :).

[2021-02-23 15:15] HoneyryderChuck commented on #40
@jinxka can you pull and try again? I just realized there was a bug in the fix for this issue. It should work now.

FYI the issue is not the empty `priv_param`, i.e. it should not even try to decrypt in the first place.

[2021-02-23 15:25] jinxka commented on #40
@HoneyryderChuck I tried again after pulling and unfortunately I got the same error:

[code]

[2021-02-23 15:38] HoneyryderChuck commented on #40
@jinxka just committed a potential fix. However, maybe to spare you from constantly hitting against the wall, I'll ask you to troubleshoot it yourself.

In order to do so, I'll ask you to open the project on your side and inspect what's happening.

The commit/line with the fix is: https://github.com/swisscom/ruby-netsnmp/pull/44/commits/340da599d691a9b98e667f7c6fd5b1d6263a387c#diff-5fc6c95fdba6431

[2021-02-23 20:24] fwininger commented on #40
Thank you very much @HoneyryderChuck for your time. I confirm you that we are able to give you an access one of your test environment tomorow morning.

[2021-02-24 09:08] fwininger commented on #40
@HoneyryderChuck I send you the SNMP credentials to acces the Cisco.

[2021-02-24 10:13] HoneyryderChuck commented on #40
@fwininger I'm getting a timeout.

[2021-02-24 11:09] jinxka commented on #40
@HoneyryderChuck We are working on it and coming back to you ASAP.

[2021-02-24 12:29] fwininger commented on #40
The ICMP is blocked by our internet provider.
We also found an issue with the UDP packet on the port 161 that close the connection after the first attempt. This issue is solved.

The snmpget command I have send you should work now :)

[2021-02-24 14:49] HoneyryderChuck commented on #40
@fwininger @jinxka it's done. Although my fixes from yesterday fixed the exception issue, there was still a last remaining handshake problem that I have solved with my last commit (for details, please read the commit message).

I'll be releasing a new version in the coming days. Thank you for the collaboration.

[2021-02-24 16:17] #40 closed

[2021-02-26 17:39] #41 closed

[2021-05-18 09:00] phoebusb opened #47 "illegal padding"
Hi Thiago,

We are currently using version 0.4.0 (previously 0.1.7, has the same problem) and are experiencing an error.

On a Huawei Aggregator we get an illegal padding error when trying to decode the response:

[code]

If we do the same via snmpget cli we obtain the correct result:

[code]

As highlighted, the pdu_der that OpenSSL::ASN1_decode tries to decode is as follows (output from a puts):

[2021-05-18 17:50] HoneyryderChuck commented on #47
Hi David. It's Tiago (without the "h") :)

Can you run your script with [debug log turned on](https://github.com/swisscom/ruby-netsnmp#debugging) and paste the output here?

[2021-05-18 19:02] phoebusb commented on #47
Hi Tiago,
Must be because of Thiago Silva :-)
OK, I'll do it tomorrow and let you know the result.

regards
David

[2021-05-19 07:27] phoebusb commented on #47
Oi Tiago,

Here's the output:

irb(main):004:0> d.get_snmp(".1.3.6.1.4.1.2011.5.14.6.4.1.4.234881152")

sending probe...

pdu: 3014
        engine_id: 0400 ("")
        context: 0400 ("")
        request: a00e
                request_id: 0204 072e 394c ("120469836")
                error: 0201 ("0")
                error_index: 0201 ("0")
                varbinds: 3000

encoding PDU in V3 message.

[2021-05-19 23:07] HoneyryderChuck commented on #47
It seems that the issue is from openssl. According to [this bug ticket here](https://github.com/openssl/openssl/issues/4320):

* openssl has issues with negative numbers extra-padded illegally according to the supported ASN.1 RFC5280.
* OpenSSL used to tolerate this (should work with 0.9.8) but doesn't any more.

I'll close this ticket, as it's a dependency issue, and you can follow up with openss

[2021-05-19 23:07] #47 closed

[2021-05-20 07:46] phoebusb commented on #47
Hi Tiago,

Thanks a lot for your investigation! So as far as I understood the root cause seems to be the aggregator that wrongly encodes negative numbers. So until that behaviour of the aggregators changes we'll stick to the cli tool for that request.

However, I wonder if the cli tool does a sanitizing of the values since the snmpget also relies on underlying openssl ...

Again, thanks for your w

[2021-05-20 09:19] HoneyryderChuck commented on #47
Hey David,

It's not that it's "wrong", it's just that it might be respecting a different RFC version, and more forgiving parsers let it through, and `openssl`'s way stricter.

I don't think it does. AFAIK they [ship their own parser](https://github.com/net-snmp/net-snmp/blob/master/snmplib/asn1.c).

Bear in mind that `openssl`'s parser is tailored to parsing X509 certificates and **not** to the s

[2021-05-20 14:57] phoebusb commented on #47
OK, now I fully understand! snmpget uses openssl only for the authentication/encryption but not for the asn parsing. Anyway, in that case HUA seems to be at least inconsistent, since on the mcan I can read out the same (negative) values without any problem ...

Well, I don't think I'd be able to successfully integrate a new asn1 parser, especially if I look at the source code of the snmpget packag

[2021-05-20 18:10] HoneyryderChuck commented on #47
It's not whether it's negative, it's how the bytes are padded in the ASN.1 negative integer representation. It depends, I guess 🤷

I'm not asking you to write a new parser, nor I'd suggest you to look at the netsnnmp package. One only has one life to live :-) Optionally integrating "rasn1" should be easier, though. But I understand it's not everyone's cup of tea.

I'll link this issue in the cavea

[2021-05-20 20:17] HoneyryderChuck commented on #47
done with a4fad8156e09c83832bc404745c3ea0727b52522

[2021-05-21 15:34] zhum opened #48 "Cannot load MIB file"
Hello! I try to use netsnmp gem with Panasas hardware. Here is a MIB-file, which cannot be parsed (but `snmpget/snmpwalk` work fine with it), I get this error:

[code]
It comes with several other MIB-files and I load them in recommended order (there is special README file), I can send them also if needed. But I think there is something unusual in the file, but parser output cannot tell me where...

[2021-05-22 15:37] HoneyryderChuck commented on #48
Hi, and thank you for the report.

The MIB parser is a recent addition, and might need to be adjusted for patterns is not yet able to parse. I managed to make it parse the default set, but there's certainly other custom ones that might fall through the cracks.

I'm not able to prioritize this fix right now, So if you need this, I kindly ask you to do it yourself. This what you can do:

1. copy the

[2021-05-25 08:27] zhum commented on #48
I tried to do this, but I get:

[code]

So it fails on the first line beginning:
[code]

This line seems to be ok, here is the hexdump:

[code]

The corresponding rule seems to be not required to be fixed, and I don't know where to dig further...

[2021-05-25 08:50] HoneyryderChuck commented on #48
[code]

It does work. I suggest you add statements inside this block until you find the buggy rule.

[2021-05-25 14:43] zhum commented on #48
Found an error - in one SEQUENCE a comma was missed. But snmpget/snmpwalk ignore this.

Now I can import all MIBS, but I cannot resolve oid:
[code]
gets nil. While this works:
[code]

How can I debug why resolve does not work?

[2021-05-25 20:23] HoneyryderChuck commented on #48
Does `"PANASAS-HW-MIB-V1::panHwNodeOsdStorageServerName"` appear in the `declarations` list, when you load the mib file? Picking up on my example from above:

[code]

[2021-05-27 09:23] zhum commented on #48
Yes:
[code]

Full declaration:
[code]

[2021-05-27 14:45] zhum commented on #48
"PANASAS-HW-MIB-V1::panHwNodeOsdStorageServerName" - does not resolve.
"panHwNodeOsdStorageServerName" - do resolve...

How to make the first one to be resolved too?

[2021-05-27 16:17] HoneyryderChuck commented on #48
Yes, I was going to suggest you that. However, the previous one should have worked.

I can have a look. Can you post the update mibfile + any changes you might have done to the parser?

[2021-05-28 10:52] zhum commented on #48
[PANASAS-HW-MIB-V1.mib.txt](https://github.com/swisscom/ruby-netsnmp/files/6560360/PANASAS-HW-MIB-V1.mib.txt)

Here it is.

[2021-05-28 17:05] #48 closed

[2021-05-28 17:18] HoneyryderChuck commented on #48
just released `v0.4.1`

[2021-06-03 14:38] jinxka opened #50 "The gem does not recognize authentication failures"
Hello,

As you can read in the title, it looks like the gem does not recognize the authentication failures.

When using bad passwords, I was expecting the client to raise an error 'Authentication failure', like it does on the snmpget command:

![image](https://user-images.githubusercontent.com/11526533/120662843-c2a3a400-c489-11eb-9fba-c77cc2961ddc.png)

But instead of raising an error, it returns

[2021-06-03 16:35] HoneyryderChuck commented on #50
Hi,

Definitely not. It's possible I overlooked it when I implemented it.

Could you patch it? I imagine this would be relatively easy to contribute, given that [the test suite already relies on authentication credentials](https://github.com/swisscom/ruby-netsnmp/blob/master/spec/client_spec.rb#L183-L202), so you just have to add a test with wrong credentials annd see an exception pop out.

[2021-06-07 08:52] #50 closed

[2021-06-07 12:14] HoneyryderChuck commented on #50
@jinxka had to patch your changes, as some things were missing. I've released `v0.4.2`, let me know if it all works as intended.

[2021-06-23 21:27] Sebbb opened #53 "Occasional "Decryption error" with SNMPv3"
Hello,

Note: This was most likely introduced in 0.4.2, after downgrading to 0.4.1 the issues disappeared.

Occasionally*, I get the following error:

/usr/local/rvm/gems/ruby-2.7.3/gems/netsnmp-0.4.2/lib/netsnmp/v3_session.rb:100:in `decode': Decryption error (NETSNMP::Error)

I traced it down, it's not a network issue, according to wireshark the sent packet is already malformed. I also compared

[2021-06-24 12:06] HoneyryderChuck commented on #53
Hi Sebastian,

It seems you're getting the `usmStatsDecryptionErrors` report PDU back. This was a [recent change](https://github.com/swisscom/ruby-netsnmp/blob/master/CHANGELOG.md#042).

[2021-06-24 15:11] Sebbb commented on #53
Hello,

I now downgraded to 0.4.1 and it's working as before. The more interesting question is, was this error just silently dropped before and we just did not receive an answer for a specific oid, but didn't notice it? Because I can see, already the outgoing packet generated by netsnmp was malformed, according to the wireshark output.

The whole netsnmp debug log is quite large, I have it for thi

[2021-06-25 07:54] zhum opened #54 "Not working with v1 (maybe)"
I'm trying to get some values from proprietary service, supporting only V1. It works fine with console program:
[code]

While simple ruby program fails with timeout:
[code]
 How can I debug this?

[2021-06-25 08:01] HoneyryderChuck commented on #53
And with `0.4.1`, what's the value returned by the agent? `2388`?

I think so. Looking at the dump you sent, in v0.4.1, it's just decodes the packet and returns the value, and doesn't perform any analysis on the return PDU's OID, which is dodgy, and now surfaces an error. The meaning of the error is probably clear to you, since you identified that the send PDU was malformed: The agent couldn't dec

[2021-06-25 08:47] HoneyryderChuck commented on #54
hi @zhum ,

Hum... seems like a network issue. Do you mind running this [in debug mode](https://github.com/swisscom/ruby-netsnmp#debugging)?

Also, you don't need to set the `:timeout`, as there's already a 2 sec default.

[2021-06-25 11:12] zhum commented on #54
Here is the output (repeated several times):

[code]

[2021-06-25 11:21] zhum commented on #54
Here is tcpdump of console `snmpget`:
[code]
May be last `00` byte in ruby code transmission is missing?

[2021-06-25 11:41] HoneyryderChuck commented on #54
Could you also `tcpdump` the packets for `netsnmp` example? Just making sure that it's send packets to the right peer.

[2021-06-25 14:44] zhum commented on #54
Here it is:

[code]

[2021-06-25 16:03] HoneyryderChuck commented on #54
Ok, so we confirmm that the packet is well-formed, and it's sent to the right peer. I guess the legacy device takes longer to reply? Try increasing the `:timeout` to, let's say, 10.

[2021-06-28 06:41] zhum commented on #54
Tried this, didn't help... Seems very strange, may be my legacy device has some peculiarity, but how can we detect it?

[2021-06-28 07:37] HoneyryderChuck commented on #54
can you run run `snmpget` in verbose mode (`-DALL`, or perhaps lower verbosity, if it helps your case), and see if there's anything in the output that might help uncover what `snmpget` does that `netsnmp` doesn't?

[2021-06-28 11:15] zhum commented on #54
Here is the log:
[snmp-get.log](https://github.com/swisscom/ruby-netsnmp/files/6725690/snmp-get.log)

It seems strange, that answer for a request was received very fast, but in case ruby code there was no answer at all...

[2021-06-28 12:50] Sebbb commented on #53
Hello,

sure:

![image](https://user-images.githubusercontent.com/4967941/123639098-28ccde00-d820-11eb-8c31-829fe3b3c284.png)

(Captured on the Linux host itself). So according to both Wireshark and the destination device, the packet generated by netsnmp is malformed. Unfortunately, as I'm not familar with the SNMP data structure, I can't tell you what's wrong in detail.

Sebastian

[2021-06-29 15:42] HoneyryderChuck commented on #54
@zhum can you try the`issue-54` branch to see if it fixes your issue?.

[2021-06-29 16:05] HoneyryderChuck commented on #53
Now that I had a better look at it, I'm highly suspitious of that salt param, a few messages above:

[code]

That salt there looks little... "random". Could you run this again, and somehow set a breakpoint when the error happens, and figure out [what's the state here](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/encryption/aes.rb#L49-L63)? I'm mostly interested in knowing which

[2021-06-30 11:16] zhum commented on #54
Did not help :(

I use Centos 7.8.2003, ruby 2.7 (via `scl`). Gem is installed via `gem install --local`), no bundler or rbenv yet. New version I've installed with `git clone ...; cd ruby-netsnmp; git checkout issue-54; gem build; gem install --local netsnmp-0.4.2.gem`.

[2021-06-30 11:59] Sebbb commented on #53
Hello,

at least the salt does not look different to the requests before, where it worked fine.

[code]

So I added some debug output to this function:
`        pp [:iv, iv, :salt, salt, :local, @local, :time, time, :boots, boots]
`

Result:

[code]

Is that what you expected?

Sebastian

[2021-06-30 15:59] HoneyryderChuck commented on #54
I'm out of ideas for remote troubleshooting 😞 I think I'd I'd require remote access to figure out what's going on, as that's a weird network behaviour: the request packet goes, but the response never arrives...

Do you know how to work with wireshark? Could you inspect all UDP, SNMP traffic during your script run, to see if things are workingn as expected network-wise? Maybe compare it with the `s

[2021-06-30 16:01] HoneyryderChuck commented on #53
True, the salt is incremental, nothing serious.

One question: if you do multiple "walk" runs, does it fail always on the same ID?

Also, picking up on your example above, it'd be interesting to have the `NETSNMP_DEBUG` log from at least the last 4 exchanged PDUs before it breaks. I'm wondering whether there's smth from the agent `netsnmp` should act upon.

[2021-06-30 16:07] Sebbb commented on #53
Nope, completly random fails. Sometime it also passes without any failure..

Longer debug output is here:

https://pastebin.com/Qyse33ZY

[2021-07-01 09:44] zhum commented on #54
I can get you the remote ssh access, if you provide an open ssh key to me (serg at parallel.ru), also I can get you sudo access for tcpdump and wireshark.

[2021-07-01 16:39] HoneyryderChuck commented on #53
Ok, I think I see something suspitious in your pastebin. Leaving here for later analysis:

[code]

The auth signature doesn't appear to be sent fully to the packet:

* `040c 885e 4e3e 6a8c c189 9e5c 3052`
* `040c 885e 4e3e 6a8c c189 9e04 0c00` (5th row)

[2021-07-04 01:58] HoneyryderChuck commented on #54
@zhum I've found out what was going on. It was two things:

* your script declares the wrong version (1 instead of 0). I understand the confusion, given how the README is more focused on the v3 case, but [the documentation declares that, if you're passing an integer, then you should be passing the correct PDU version code](https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/client.rb#

[2021-07-05 10:05] Sebbb commented on #53
Hello,

it always seems to be "\x04\f\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00"

I added
[code]

Full result: https://pastebin.com/SZ8ba3YN

Sebastian

[2021-07-05 11:04] HoneyryderChuck commented on #53
I think I managed to reproduce it. You are right, some segments get corrupted, and yes, the problem is that exact line.

Will see about issuing a fix for you to test.

[2021-07-05 11:31] HoneyryderChuck commented on #53
@Sebbb can you retry your example using the `issue-53` branch?

[2021-07-05 13:06] Sebbb commented on #53
@HoneyryderChuck Tried it several times, wasn't able to reproduce the issue anymore.

Thanks!
Sebastian

[2021-07-05 13:22] HoneyryderChuck commented on #53
Great to hear! Will merge and close. Thx for the patience!

[2021-07-05 13:23] #53 closed

[2021-07-05 14:19] zhum commented on #54
Wow! Yes, it works with these notes. Thank you!

[2021-07-05 14:19] #54 closed

[2021-07-19 13:45] fwininger commented on #29
@jinxka can you propose a PR for this issue ?

[2021-07-22 12:04] #29 closed

[2021-07-23 02:52] Esity opened #60 "uninitialized constant Socket::MSG_NOSIGNAL"
Looks like the newer versions of netsnmp are complaining about `Socket::MSG_NOSIGNAL`

By downgrading to 0.4.0, this error goes away. Confirmed this on both ruby 2.7.3 and 3.0.1

[code]

[2021-07-23 08:37] HoneyryderChuck commented on #60
Hi @Esity ,

Thx for the bug report.

I'm assuming you're not working with Linux. Can you give more information about your system? I'm mostly interested in the following (output is from my system, you can reply with yours):

[code]

[2021-08-01 00:02] HoneyryderChuck commented on #60
Fixed with  5c1a797bff67973491025e59ce7a5eb314e52e69 . Just released 0.6.1 .

[2021-08-01 00:02] #60 closed

[2021-08-01 01:51] Esity commented on #60
Amazing. Thanks for the fast turnaround. Will test this tonight or tomorrow.

[2022-01-19 21:49] HoneyryderChuck opened #64 "passkey calculation into c extension"
https://github.com/swisscom/ruby-netsnmp/blob/master/lib/netsnmp/security_parameters.rb#L192

[2022-03-24 14:38] jinxka opened #65 "The gem does not recognize a missing OID"
Hello,

I've crossed an issue with one of my device where the gem does not understand that the OID is missing while the `snmpget` command does.

![image](https://user-images.githubusercontent.com/11526533/159937313-76e881e3-43a6-489f-b83c-15bcea7d53b1.png)

Instead of raising the usual `IPAddr::AddressFamilyError`, the gem detects an `Integer:0`. This is problematic for me because I use the presen

[2022-03-24 15:29] jinxka commented on #65
The debug from the gem:

̀ ```
sending probe...

encoding PDU in V3 message...

3053 0201 0330 1102 0419 4f18 7902 0300
ffe3 0401 0402 0103 0425 3023 0400 0201
0002 0100 0409 7369 6d75 6c61 746f 7204
0c00 0000 0000 0000 0000 0000 0004 0030
1404 0004 00a0 0e02 0426 8fee 1d02 0100
0201 0030

received encoded V3 message

3081 8302 0103 3011 0204 194f 1879 0203
00ff e304 0100 0201 0304 2f30 2d04 1580

[2022-03-25 06:48] HoneyryderChuck commented on #65
hi @jinxka ,

Can you run the example above with `NETSNMP_DEBUG=2`?

[2022-03-25 08:59] jinxka commented on #65
[code]

[2022-03-25 12:03] HoneyryderChuck commented on #65
Ok, so if I interpret this correctly, you send the "1.3.6.1.4.5.4.2.3" OID, and expect smth else than 0 (0 here probably meaning, "nothing is defined").

I believe this is a corner case which will be difficult to resolve due to the relative limited capabilities of `netsnmp`'s MIB parser, which is currently only used to provide a translation from "mib to OID", but not to infer semantics about the p

[2022-03-29 13:29] jinxka commented on #65
Hello,

I did some research and the usual error `IPAddr::AddressFamilyError` we get when retrieving a non-existent oid comes from: https://github.com/swisscom/ruby-netsnmp/blob/5ee689490cc13d7ffbd7a0f7190b4e4a51149944/lib/netsnmp/varbind.rb#L118

I tested the gem with a "valid device (which raises an error when retrieving a non-existent oid) and the `convert_application_asn` receives:
`#<OpenSSL::

[2022-03-29 23:00] HoneyryderChuck commented on #65
ok, I see now. They're both faulty, i.e. the first one should have also raised the same error instead of "error parsing IPAddress".

For documentation sake, [netsnmp only does what the rfc mandates](https://www.ietf.org/rfc/rfc2578.txt), i.e. for application-specific OID data:

[code]

so 0 means ipaddress, 1 means counter32. However, since both come "empty", both are wrong, and the error you ment

[2022-04-04 17:36] HoneyryderChuck commented on #65
release 0.6.3 .

[2022-04-04 17:36] #65 closed

[2022-05-04 23:13] mschaf opened #67 "SNMPv3 not working with APC UPS"
Hello,
I am trying to pull data of a APC Smart UPS X with the AP9631 network card.

I can use snmpget to query oids just fine, e.g.
[code]
But when I try it via ruby
[code]
I get `Timeout after 2 seconds (Timeout::Error`.
My assumtion is, that these two should do exactly the same, am I wrong with that?

I looked at the requests with wireshark and they are slightly different.
snmpget:
![Screenshot

[2022-05-05 07:09] HoneyryderChuck commented on #67
Thx for the report. Can you run your example again in debug mode, as per the instructions in the realmente, and post the output here?

[2022-05-05 22:13] HoneyryderChuck commented on #67
The parameter difference does not seem to be the problem, at least from what I'm looking (although `netsnmp` could  omit username from the probe request). The probe response not arriving on time seems to be the problem. Did you try increasing the `:timeout`, let's say, to 10, and see whether it's sent back?

[2022-05-06 00:07] mschaf commented on #67
Increasing the timeout did not help. With snmpget the ups responds very fast.
I found that the ups is logging unauthorized snmp access attempts, but nothing there is nothing when using netsnmp.
It just returns nothing, I looked at the network at the switch via port mirroring.
However I can access other equipment on the same network with netsnmp just fine.

[2022-05-06 14:58] HoneyryderChuck commented on #67
in v3, the client needs to send a "probe request" (a report PDU) and get a response as part of the initial encryption negotiation, before sending the actual GET request.

with `netsnmp`, the probe is being sent, but no probe response comes back (hence the timeout).

Your wireshark log is not complete, because it does include this initial probe request . Or at least this is my impression by looking

[2022-05-06 18:45] mschaf commented on #67
This is everthing I captured, just that single packet, I assume this is the probe request.
I will do some digging into the RFCs on the weekend. I guess my best bet is comparing it to the snmpget one and try and get them to be equal until it works.

[2022-05-06 19:08] HoneyryderChuck commented on #67
Equality will be possible, due to the randomness involved in encrypting. Maybe what you can do is try with v2, if you can enable it in the box for testing, and see if it works. If it doesn't, there's Smth to do at the network layer. Just hard to figure out next steps without testing it myself.

[2022-05-06 19:29] mschaf commented on #67
The ups only has v1 and v3, v1 works just fine.
I will give me the weekend to read into the protocol and debug this.
After that I think I will go down another path, I have not found a good alternative, so far. I am currently leaning towards parsing snmpget :see_no_evil:

[2022-05-06 20:30] HoneyryderChuck commented on #67
snmpget supports  [verbose debug output](https://net-snmp.sourceforge.io/wiki/index.php/Debugging_output), if that helps you with the troubleshooting further

[2022-05-06 22:30] mschaf commented on #67
I figured it out, the ups does not like the `msgAuthenticationParameters` of the probe request to be 12 zeros but wants it empty. I think this complies with the RFCs, but I am not 100% sure, those are quite hard to read. snmpget does also not include the 12 zeros. I created a pull request with a fix, if you want to include this change.

[2022-05-10 15:52] HoneyryderChuck commented on #67
@mschaf just released v0.6.4 with the patch. Sorry for the slow turnaround time, been a busy couple of days.

[2022-05-10 15:52] #67 closed

[2022-11-17 14:45] hanynowsky opened #69 "V3 cannot parse TROPIC-GLOBAL-MIB"
If I use the Python SNIMPY package, I can poll without problems using V3 but Impossible with ruby-netsnmp v3. The library cannot figure out how to parse this MIB: **TROPIC-GLOBAL-MIB**
[code]
	Below is the MIB.
[https://drive.google.com/file/d/1OGz3oSFOrZU0XXptTff0ihaxDgCPICUH/view?usp=sharing](url)
[](https://drive.google.com/file/d/1OGz3oSFOrZU0XXptTff0ihaxDgCPICUH/view?usp=sharing)

Thanks for

[2022-11-18 10:20] HoneyryderChuck commented on #69
Hi @hanynowsky ,

It's possible, the mib parser is relatively recent, and may not support all possible use cases.

Your link doesn't take anywhere, can you please post the MIB as text here?

Moreover, feel free to try adding support if you're up for it. I may take some time getting to it.

[2022-11-22 11:34] hanynowsky commented on #69
Thanks @HoneyryderChuck For your response. And thank you for your help.
The MIB is pasted below:

[TROPIC-GLOBAL-MIB.txt](https://github.com/swisscom/ruby-netsnmp/files/10066963/TROPIC-GLOBAL-MIB.txt)

`TROPIC-GLOBAL-MIB DEFINITIONS ::= BEGIN

-- (c) Copyright 2020 Nokia Networks.  All rights reserved.
-- This software is the confidential and proprietary property of
-- Nokia and may only be used i